body {
  letter-spacing: 0.025em; }
  body.cke_editable {
    padding: 1em; }

.container {
  max-width: 100%; }
  @media (min-width: 1200px) {
    .container {
      width: 100%;
      max-width: 1170px; } }
  @media (min-width: 1200px) {
    .container.narrow, .make-narrow .container {
      max-width: 830px;
      width: 100%; } }
  .container .container {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin: 0; }

a {
  word-wrap: break-word; }

.page-header {
  padding-bottom: 0;
  border-bottom: none;
  margin-top: 0; }

@media (min-width: 768px) {
  h1, .h1 {
    font-size: 41px; } }

@media (min-width: 768px) {
  h2, .h2 {
    font-size: 34px; } }

@media (min-width: 768px) {
  h3, .h3 {
    font-size: 28px; } }

@media (min-width: 768px) {
  h4, .h4 {
    font-size: 20px; } }

@media (min-width: 768px) {
  h5, .h5 {
    font-size: 16px; } }

@media (min-width: 768px) {
  h6, .h6 {
    font-size: 14px; } }

.lead {
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal; }
  @media (min-width: 768px) {
    .lead {
      font-size: 22px; } }

.small-body {
  font-size: 14px; }

.breadcrumb {
  font-size: 14px;
  background-color: transparent;
  padding: 0;
  color: #333; }
  .breadcrumb a {
    color: #333; }

p, ul, ol {
  margin-bottom: 0; }
  p + p, p + ol, p + ul, ul + p, ul + ol, ul + ul, ol + p, ol + ol, ol + ul {
    margin-top: 0.75em; }

.main-container {
  padding-top: 40px;
  padding-bottom: 40px; }
  @media (min-width: 992px) {
    .main-container {
      padding-top: 85px;
      padding-bottom: 85px; } }

.page-header {
  padding-bottom: 0;
  border-bottom: none;
  margin-top: 0; }

.tabs--primary.nav-tabs {
  margin-bottom: 1.5em; }

.assembly {
  padding-top: 40px;
  padding-bottom: 40px;
  background-size: cover; }
  @media (min-width: 992px) {
    .assembly {
      padding-top: 80px;
      padding-bottom: 80px; } }
  .assembly.no-top-padding {
    padding-top: 0 !important; }
  .assembly.no-bottom-padding {
    padding-bottom: 0 !important; }
  .assembly.bg-secondary {
    background-color: #5cb85c; }
  .assembly.bg-tertiary {
    background-color: #efefef; }
  .assembly.white-text {
    color: #FFF; }
    .assembly.white-text h1, .assembly.white-text h2, .assembly.white-text h3, .assembly.white-text h4, .assembly.white-text h5, .assembly.white-text h6,
    .assembly.white-text .h1, .assembly.white-text .h2, .assembly.white-text .h3, .assembly.white-text .h4, .assembly.white-text .h5, .assembly.white-text .h6 {
      color: inherit; }
  .assembly.border-top {
    border-top: 3px solid #efefef; }
  .assembly.border-bottom {
    border-bottom: 3px solid #efefef; }

img {
  max-width: 100%;
  height: auto !important; }

.masthead .nav {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px; }
  .masthead .nav > li {
    padding-left: 15px;
    padding-right: 15px; }
    .masthead .nav > li > a {
      padding-left: 0;
      padding-right: 0; }
      @media (min-width: 992px) {
        .masthead .nav > li > a {
          padding-top: 8px;
          padding-bottom: 8px; } }
      .masthead .nav > li > a:hover:after, .masthead .nav > li > a:focus:after {
        -webkit-transform: scaleX(1);
                transform: scaleX(1); }
      .masthead .nav > li > a:after {
        content: '';
        display: none;
        width: 100%;
        height: 3px;
        background-color: #337ab7;
        -webkit-transform: scaleX(0);
                transform: scaleX(0);
        -webkit-transition: 200ms ease-in-out;
        transition: 200ms ease-in-out;
        position: absolute;
        bottom: 0;
        left: 0; }
        @media (min-width: 768px) {
          .masthead .nav > li > a:after {
            display: block; } }
      .masthead .nav > li > a.active:after, .masthead .nav > li > a.is-active:after {
        -webkit-transform: scaleX(1);
                transform: scaleX(1); }

.masthead .phone-block.desktop {
  display: none;
  text-align: right;
  color: #337ab7; }
  @media (min-width: 768px) {
    .masthead .phone-block.desktop {
      display: block;
      position: absolute;
      right: 0;
      top: 15px; } }
  @media (min-width: 992px) {
    .masthead .phone-block.desktop {
      position: static;
      display: table-cell;
      vertical-align: middle;
      width: 200px; } }
  @media (min-width: 1200px) {
    .masthead .phone-block.desktop {
      font-size: 18px;
      width: 220px; } }
  .masthead .phone-block.desktop .phone {
    font-weight: bold;
    margin-top: 0;
    letter-spacing: 0.1em; }
    .masthead .phone-block.desktop .phone .phone-text {
      display: none; }
      @media (min-width: 992px) {
        .masthead .phone-block.desktop .phone .phone-text {
          display: inline; } }
    .masthead .phone-block.desktop .phone .phone-link {
      color: inherit; }
      @media (min-width: 992px) {
        .masthead .phone-block.desktop .phone .phone-link {
          display: none; } }

.masthead .phone-block.mobile {
  text-align: center;
  float: right;
  margin-top: 7px; }
  @media (min-width: 768px) {
    .masthead .phone-block.mobile {
      display: none; } }

.masthead .phone-block a:hover, .masthead .phone-block a:active, .masthead .phone-block a:focus {
  text-decoration: none; }

.masthead .phone-block .icon {
  font-size: 120%; }

.masthead .phone-block .text {
  display: block;
  font-size: 11px; }

.masthead .logo {
  width: 50%;
  max-width: 170px;
  margin-top: 12px;
  margin-bottom: 12px; }
  @media (min-width: 768px) {
    .masthead .logo {
      max-width: 200px; } }
  @media (min-width: 992px) {
    .masthead .logo {
      max-width: 100%;
      width: 100%;
      margin: 0; } }

.masthead .top-bar {
  display: none;
  text-align: right; }
  @media (min-width: 992px) {
    .masthead .top-bar {
      display: block; } }
  .masthead .top-bar .search-link {
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 12px;
    display: inline-block;
    color: #333; }
    .masthead .top-bar .search-link:hover, .masthead .top-bar .search-link:active, .masthead .top-bar .search-link:focus {
      background-color: transparent;
      text-decoration: underline; }
    .masthead .top-bar .search-link span {
      margin-left: 1em; }

@media (min-width: 992px) {
  .masthead .nav-wrapper {
    margin-left: -15px;
    margin-right: -15px; } }

@media (min-width: 992px) {
  .masthead .region-top-bar {
    display: inline-block; } }

.masthead #block-topbarlinks, .masthead #block-topbarlinks-2 {
  text-transform: uppercase;
  font-size: 12px; }
  .masthead #block-topbarlinks .nav, .masthead #block-topbarlinks-2 .nav {
    margin-left: -15px;
    margin-right: -15px; }
    @media (min-width: 992px) {
      .masthead #block-topbarlinks .nav, .masthead #block-topbarlinks-2 .nav {
        margin: 0; } }
    .masthead #block-topbarlinks .nav > li, .masthead #block-topbarlinks-2 .nav > li {
      display: inline-block;
      padding: 5px 15px; }
      .masthead #block-topbarlinks .nav > li > a, .masthead #block-topbarlinks-2 .nav > li > a {
        padding: 0;
        color: #333; }
        .masthead #block-topbarlinks .nav > li > a:hover, .masthead #block-topbarlinks .nav > li > a:active, .masthead #block-topbarlinks .nav > li > a:focus, .masthead #block-topbarlinks-2 .nav > li > a:hover, .masthead #block-topbarlinks-2 .nav > li > a:active, .masthead #block-topbarlinks-2 .nav > li > a:focus {
          background-color: transparent;
          text-decoration: underline; }

@media (min-width: 768px) {
  .masthead #block-topbarlinks-2 .nav > li {
    padding: 0;
    display: block; }
    .masthead #block-topbarlinks-2 .nav > li > a {
      padding: 10px 15px; }
      .masthead #block-topbarlinks-2 .nav > li > a:hover, .masthead #block-topbarlinks-2 .nav > li > a:focus, .masthead #block-topbarlinks-2 .nav > li > a:active {
        background-color: rgba(0, 0, 0, 0.03);
        text-decoration: none; } }

@media (min-width: 992px) {
  .masthead #block-topbarlinks-2 {
    display: none; } }

.navbar-main {
  border-left: none;
  border-right: none;
  border-top: none;
  margin-bottom: 0;
  background-color: #FFF; }
  .navbar-main .navbar-brand {
    margin-left: 0; }
  .navbar-main .nav-cta {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    line-height: 1;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    border-radius: 0; }
    @media (min-width: 992px) {
      .navbar-main .nav-cta {
        float: right;
        width: auto;
        margin-right: 0;
        margin-top: 0.5em; } }
    @media (min-width: 992px) {
      .navbar-main .nav-cta.mobile {
        display: none; } }
  .navbar-main .search-block-form {
    padding: 15px 0;
    font-size: 14px; }
    .navbar-main .search-block-form .form-group {
      margin-bottom: 0;
      background-color: #E3E4E6;
      overflow: hidden; }
    .navbar-main .search-block-form .form-actions {
      margin-top: 0; }
    .navbar-main .search-block-form .description, .navbar-main .search-block-form .help-block {
      display: none; }
    .navbar-main .search-block-form input {
      background-color: transparent;
      border-color: transparent;
      color: #333;
      height: auto;
      padding: 5px 12px;
      line-height: 1; }
      .navbar-main .search-block-form input::-moz-placeholder {
        color: transparent;
        opacity: 1; }
      .navbar-main .search-block-form input:-ms-input-placeholder {
        color: transparent; }
      .navbar-main .search-block-form input::-webkit-input-placeholder {
        color: transparent; }
    .navbar-main .search-block-form .input-group {
      width: 100%; }
    .navbar-main .search-block-form .input-group-btn {
      width: auto;
      position: absolute;
      right: 50%;
      top: 0;
      text-align: center;
      -webkit-transform: translateX(50%);
              transform: translateX(50%);
      -webkit-transition-duration: 200ms;
      transition-duration: 200ms; }
      @media (min-width: 768px) {
        .navbar-main .search-block-form .input-group-btn {
          width: 100%;
          height: 100%; } }
    .navbar-main .search-block-form .btn {
      font-size: 14px;
      color: #333;
      background-color: transparent;
      border-color: transparent;
      padding: 3px 12px;
      overflow: visible; }
      .navbar-main .search-block-form .btn:focus, .navbar-main .search-block-form .btn:active {
        outline: 0;
        border-color: transparent; }
      .navbar-main .search-block-form .btn:before {
        background-color: transparent; }
      .navbar-main .search-block-form .btn:after {
        position: static;
        display: inline;
        vertical-align: middle;
        content: 'Search';
        font-weight: normal;
        margin-left: 10px;
        -webkit-transition-duration: 150ms;
        transition-duration: 150ms;
        opacity: 1;
        background-color: transparent;
        width: auto; }
    .navbar-main .search-block-form input:focus, .navbar-main .search-block-form input.filled {
      border-color: transparent;
      -webkit-box-shadow: none;
              box-shadow: none;
      position: relative;
      z-index: 1; }
      .navbar-main .search-block-form input:focus + .input-group-btn, .navbar-main .search-block-form input.filled + .input-group-btn {
        z-index: 100;
        right: 0;
        -webkit-transform: translateX(65%);
                transform: translateX(65%); }
        @media (min-width: 768px) {
          .navbar-main .search-block-form input:focus + .input-group-btn, .navbar-main .search-block-form input.filled + .input-group-btn {
            -webkit-transform: translateX(60%);
                    transform: translateX(60%); } }
        .navbar-main .search-block-form input:focus + .input-group-btn .btn:after, .navbar-main .search-block-form input.filled + .input-group-btn .btn:after {
          opacity: 0; }
  @media (min-width: 992px) {
    .navbar-main .main-nav-wrapper {
      display: table;
      margin-bottom: 20px;
      width: 100%; } }
  @media (min-width: 992px) {
    .navbar-main .navbar-header {
      display: table-cell;
      width: 200px;
      vertical-align: middle;
      float: none; } }
  .navbar-main .navbar-header .nav-cta {
    display: none; }
    @media (min-width: 992px) {
      .navbar-main .navbar-header .nav-cta {
        display: block; } }
  .navbar-main .parent-link {
    padding-right: 15px;
    position: relative; }
    @media (min-width: 768px) {
      .navbar-main .parent-link {
        padding-right: 0; } }
    .navbar-main .parent-link > .simple-dropdown-toggle {
      display: inline-block;
      vertical-align: middle;
      line-height: 1; }
      .navbar-main .parent-link > .simple-dropdown-toggle > span {
        font-size: 60%;
        padding: 10px 20px;
        margin-top: -7px; }
        @media (min-width: 768px) {
          .navbar-main .parent-link > .simple-dropdown-toggle > span {
            padding: 10px;
            padding-right: 15px; } }
    .navbar-main .parent-link > a {
      display: block;
      color: #000;
      line-height: 24px;
      padding: 10px 15px;
      -webkit-transition-duration: 200ms;
              transition-duration: 200ms;
      position: relative;
      display: inline-block; }
      @media (min-width: 992px) {
        .navbar-main .parent-link > a {
          padding-top: 13px;
          padding-bottom: 13px; } }
      .navbar-main .parent-link > a:hover, .navbar-main .parent-link > a:focus {
        color: #333;
        text-decoration: none; }
      @media (min-width: 768px) {
        .navbar-main .parent-link > a {
          padding-right: 0; } }
  .navbar-main .simple-dropdown {
    position: relative;
    -webkit-transition-duration: 200ms;
            transition-duration: 200ms; }
    @media (min-width: 992px) {
      .navbar-main .simple-dropdown:hover > ul {
        display: block; } }
    .navbar-main .simple-dropdown.open {
      background-color: #e7e7e7; }
    .navbar-main .simple-dropdown.active, .navbar-main .simple-dropdown.is-active, .navbar-main .simple-dropdown > .simple-dropdown-menu > li > a.active, .navbar-main .simple-dropdown > .simple-dropdown-menu > li > a.is-active {
      color: #555;
      background-color: #e7e7e7; }
      @media (min-width: 768px) {
        .navbar-main .simple-dropdown.active, .navbar-main .simple-dropdown.is-active, .navbar-main .simple-dropdown > .simple-dropdown-menu > li > a.active, .navbar-main .simple-dropdown > .simple-dropdown-menu > li > a.is-active {
          background-color: transparent; } }
      .navbar-main .simple-dropdown.active > .parent-link > a, .navbar-main .simple-dropdown.is-active > .parent-link > a, .navbar-main .simple-dropdown > .simple-dropdown-menu > li > a.active > .parent-link > a, .navbar-main .simple-dropdown > .simple-dropdown-menu > li > a.is-active > .parent-link > a {
        color: #555; }
    .navbar-main .simple-dropdown .simple-dropdown-toggle {
      cursor: pointer; }
      @media (min-width: 992px) {
        .navbar-main .simple-dropdown .simple-dropdown-toggle {
          display: none; } }
    .navbar-main .simple-dropdown .simple-dropdown-menu {
      display: none;
      list-style: none;
      padding: 0; }
      @media (min-width: 768px) {
        .navbar-main .simple-dropdown .simple-dropdown-menu {
          position: absolute;
          top: 100%;
          left: 0;
          z-index: 1000;
          display: none;
          float: left;
          min-width: 160px;
          padding: 5px 0;
          margin: 2px 0 0;
          list-style: none;
          font-size: 16px;
          text-align: left;
          background-color: #fff;
          border: 1px solid #ccc;
          -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
                  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          background-clip: padding-box; } }
      .navbar-main .simple-dropdown .simple-dropdown-menu > li > a {
        display: block;
        color: #000;
        line-height: 24px;
        padding: 10px 15px;
        -webkit-transition-duration: 200ms;
                transition-duration: 200ms;
        position: relative; }
        @media (min-width: 992px) {
          .navbar-main .simple-dropdown .simple-dropdown-menu > li > a {
            padding-top: 13px;
            padding-bottom: 13px; } }
        .navbar-main .simple-dropdown .simple-dropdown-menu > li > a:hover, .navbar-main .simple-dropdown .simple-dropdown-menu > li > a:focus {
          color: #333;
          text-decoration: none; }
    .navbar-main .simple-dropdown.open .simple-dropdown-menu {
      display: block; }
  .navbar-main .navbar-toggle {
    display: none; }
  @media (min-width: 768px) {
    .navbar-main .container {
      position: relative; } }
  .navbar-main .navbar-toggle {
    position: relative;
    padding: 15px;
    padding-bottom: 24px;
    border: none;
    margin: 0;
    border-radius: 0;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out; }
    @media (min-width: 768px) {
      .navbar-main .navbar-toggle {
        position: absolute;
        top: 0;
        right: 15px; } }
    .navbar-main .navbar-toggle:focus, .navbar-main .navbar-toggle:hover {
      background-color: transparent; }
    .navbar-main .navbar-toggle[aria-expanded="true"] {
      background-color: #F2F2F2; }
      .navbar-main .navbar-toggle[aria-expanded="true"] .icon-bar {
        position: relative; }
        .navbar-main .navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
          -webkit-transform: rotate(45deg);
                  transform: rotate(45deg);
          top: 8.5px; }
        .navbar-main .navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(3) {
          opacity: 0;
          filter: alpha(opacity=0);
          margin-top: 14px; }
        .navbar-main .navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
          top: -9.5px;
          margin-top: 0;
          -webkit-transform: rotate(-45deg);
                  transform: rotate(-45deg); }
    .navbar-main .navbar-toggle .icon-bar {
      background-color: #000;
      height: 2px;
      width: 24px;
      -webkit-transition: all 150ms ease-in-out;
      transition: all 150ms ease-in-out;
      border-radius: 0; }
      .navbar-main .navbar-toggle .icon-bar + .icon-bar {
        margin-top: 6px; }
  .navbar-main .navbar-collapse {
    background-color: #F2F2F2;
    border-top: none; }
    @media (min-width: 768px) {
      .navbar-main .navbar-collapse {
        position: absolute;
        top: 50px;
        right: 15px;
        width: 250px;
        z-index: 10;
        margin-left: 0;
        margin-right: 0; } }
    @media (min-width: 992px) {
      .navbar-main .navbar-collapse {
        position: static;
        background-color: transparent;
        display: table-cell !important;
        padding: 0;
        vertical-align: middle;
        text-align: right;
        width: auto;
        padding-left: 60px; } }
    .navbar-main .navbar-collapse .region-navigation-collapsible .navbar-nav {
      font-size: 14px; }
      @media (min-width: 768px) {
        .navbar-main .navbar-collapse .region-navigation-collapsible .navbar-nav {
          display: none; } }
      @media (min-width: 992px) {
        .navbar-main .navbar-collapse .region-navigation-collapsible .navbar-nav {
          display: inline-block;
          float: none;
          vertical-align: middle;
          margin-right: -15px; } }
      .navbar-main .navbar-collapse .region-navigation-collapsible .navbar-nav > li:nth-child(-n+3) {
        display: none; }
        @media (min-width: 768px) {
          .navbar-main .navbar-collapse .region-navigation-collapsible .navbar-nav > li:nth-child(-n+3) {
            display: block; } }
    @media (min-width: 992px) {
      .navbar-main .navbar-collapse .search-block-form {
        display: none; } }
  .navbar-main .exposed-nav {
    font-size: 14px;
    margin-left: -15px;
    margin-right: -15px;
    text-transform: none;
    font-weight: normal; }
    @media (min-width: 992px) {
      .navbar-main .exposed-nav {
        display: none; } }
    .navbar-main .exposed-nav > nav {
      -webkit-transition-duration: 200ms;
              transition-duration: 200ms;
      border-top: 2px solid #e7e7e7;
      overflow: hidden; }
      @media (min-width: 768px) {
        .navbar-main .exposed-nav > nav {
          overflow: visible;
          border-top: none; } }
    .navbar-main .exposed-nav .navbar-nav {
      margin: 0;
      display: table;
      width: 100%; }
      @media (min-width: 768px) {
        .navbar-main .exposed-nav .navbar-nav {
          display: block; } }
      .navbar-main .exposed-nav .navbar-nav > li {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        border-left: 1px solid #e7e7e7;
        border-right: 1px solid #e7e7e7;
        width: 33.33333%;
        font-weight: bold; }
        @media (min-width: 768px) {
          .navbar-main .exposed-nav .navbar-nav > li {
            width: auto;
            text-align: left;
            display: inline-block;
            border: none; } }
        .navbar-main .exposed-nav .navbar-nav > li:first-child {
          border-left: none; }
        .navbar-main .exposed-nav .navbar-nav > li:nth-child(3) {
          border-right: none; }
        .navbar-main .exposed-nav .navbar-nav > li:nth-child(n+4) {
          display: none; }
          @media (min-width: 768px) {
            .navbar-main .exposed-nav .navbar-nav > li:nth-child(n+4) {
              display: inline-block; } }
        .navbar-main .exposed-nav .navbar-nav > li:last-child {
          border-right: none; }
        .navbar-main .exposed-nav .navbar-nav > li > a {
          font-weight: normal;
          display: block;
          width: 100%;
          line-height: 1.1;
          font-size: 12px;
          text-transform: none; }
          @media (min-width: 768px) {
            .navbar-main .exposed-nav .navbar-nav > li > a {
              font-size: 14px;
              text-transform: uppercase;
              font-weight: bold; } }
  .navbar-main .navbar-collapse[aria-expanded="true"] + .exposed-nav > nav {
    border: none;
    height: 0;
    opacity: 0;
    filter: alpha(opacity=0); }
    @media (min-width: 768px) {
      .navbar-main .navbar-collapse[aria-expanded="true"] + .exposed-nav > nav {
        opacity: 1;
        filter: alpha(opacity=100);
        height: auto; } }

.page-footer {
  background-color: #333;
  padding-top: 40px;
  color: #FFF; }
  .page-footer a {
    color: inherit; }
  .page-footer .logo-col {
    margin-bottom: 20px; }
    @media (min-width: 768px) {
      .page-footer .logo-col {
        padding-right: 40px; } }
    .page-footer .logo-col img {
      width: 200px;
      margin-left: auto;
      margin-right: auto;
      display: block; }
      @media (min-width: 768px) {
        .page-footer .logo-col img {
          margin: 0; } }
  .page-footer .footer-bottom {
    margin-top: 40px;
    background-color: #000;
    font-size: 12px;
    padding: 0.75em 0;
    color: #e6e6e6; }
    .page-footer .footer-bottom .dev-credit {
      color: #555; }
  @media (min-width: 768px) {
    .page-footer .footer-credit {
      text-align: right; } }
  .page-footer .nav {
    margin-left: -15px;
    margin-right: -15px; }
    @media (min-width: 768px) {
      .page-footer .nav {
        -webkit-column-count: 3;
                column-count: 3;
        max-height: 330px; } }
    .page-footer .nav > li {
      line-height: 2;
      padding: 0 15px;
      -webkit-column-break-inside: avoid;
              break-inside: avoid-column; }
      .page-footer .nav > li > a {
        line-height: 1;
        padding: 0;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        display: inline-block; }
        .page-footer .nav > li > a:active, .page-footer .nav > li > a:focus, .page-footer .nav > li > a:hover, .page-footer .nav > li > a.active, .page-footer .nav > li > a.is-active {
          background-color: transparent; }

.tile {
  max-width: 250px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto; }
  .tile:hover .tile-image, .tile:focus .tile-image, .tile:active .tile-image {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0.3; }
  .tile > a {
    display: block; }
  .tile .tile-inner-wrapper {
    position: relative;
    background-color: #000;
    width: 100%;
    padding-top: 70%; }
  .tile .tile-image {
    background-size: cover;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-filter: gray;
            filter: gray;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: ease-in-out 200ms;
    transition: ease-in-out 200ms;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden; }
  .tile .field--name-field-title {
    position: absolute;
    top: 50%;
    left: 0;
    text-align: center;
    width: 100%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    color: #FFF;
    font-family: inherit;
    font-weight: 500;
    padding: 10px; }
    @media (min-width: 992px) {
      .tile .field--name-field-title {
        padding: 20px; } }

.assembly-type-tiles .field--name-field-tiles {
  font-size: 0px;
  margin-left: -15px;
  margin-right: -15px; }
  @media (min-width: 768px) {
    .assembly-type-tiles .field--name-field-tiles {
      margin-left: -2px;
      margin-right: -2px; } }
  @media (min-width: 992px) {
    .assembly-type-tiles .field--name-field-tiles {
      margin-left: -15px;
      margin-right: -15px; } }
  .assembly-type-tiles .field--name-field-tiles > div {
    font-size: 16px;
    display: inline-block;
    width: 50%; }
    @media (min-width: 480px) {
      .assembly-type-tiles .field--name-field-tiles > div {
        width: 25%; } }
    @media (min-width: 768px) {
      .assembly-type-tiles .field--name-field-tiles > div {
        padding-left: 2px;
        padding-right: 2px;
        padding-top: 2px;
        padding-bottom: 2px; } }
    @media (min-width: 992px) {
      .assembly-type-tiles .field--name-field-tiles > div {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px; } }

.social-buttons {
  margin-bottom: 1em; }
  @media (min-width: 480px) {
    .social-buttons {
      position: absolute;
      right: 0;
      top: 0;
      margin-bottom: 0; } }

.social-btn .fb-share-button {
  display: inline-block;
  vertical-align: top; }
  .social-btn .fb-share-button > span {
    vertical-align: top !important; }

.billboards {
  margin-top: -1px;
  position: relative; }
  .billboards .billboard-slide-nav-wrapper {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 100%;
    color: #FFF;
    text-align: right; }
    @media (min-width: 992px) {
      .billboards .billboard-slide-nav-wrapper {
        text-align: center;
        top: auto;
        bottom: 0;
        right: 0; } }
    .billboards .billboard-slide-nav-wrapper .next, .billboards .billboard-slide-nav-wrapper .prev {
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
      font-size: 80%;
      position: relative;
      top: 50%;
      cursor: pointer; }
    .billboards .billboard-slide-nav-wrapper .billboard-slide-nav {
      width: auto;
      display: inline-block;
      vertical-align: middle; }
    .billboards .billboard-slide-nav-wrapper .prev {
      display: none !important; }
      @media (min-width: 992px) {
        .billboards .billboard-slide-nav-wrapper .prev {
          display: inline-block !important; } }
    .billboards .billboard-slide-nav-wrapper .next {
      width: 30px;
      height: 30px;
      background-color: #FFF;
      color: #337ab7;
      border: 1px solid #337ab7;
      border-radius: 100%;
      padding: 8px; }
      @media (min-width: 992px) {
        .billboards .billboard-slide-nav-wrapper .next {
          border: none;
          padding: 0;
          width: auto;
          height: auto;
          background-color: transparent;
          color: #FFF; } }
  .billboards .slick-dots {
    display: none !important;
    position: static;
    width: auto; }
    @media (min-width: 992px) {
      .billboards .slick-dots {
        display: inline-block !important; } }
    .billboards .slick-dots li {
      width: 10px;
      height: 10px;
      margin: 10px 5px; }
      .billboards .slick-dots li button:before {
        color: transparent;
        opacity: 1;
        background-color: transparent;
        border: 1px solid #FFF;
        border-radius: 100%;
        width: 100%;
        height: 100%; }
      .billboards .slick-dots li.slick-active button:before {
        color: transparent;
        opacity: 1;
        background-color: #FFF; }

.billboard {
  position: relative;
  color: #FFF;
  padding: 0; }
  .billboard:focus {
    outline: none; }
  .billboard .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-size: cover;
    overflow: hidden; }
    .billboard .background:before {
      content: '';
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      position: absolute;
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(transparent));
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
      z-index: 1; }
    .billboard .background video {
      width: 100% !important;
      height: auto !important;
      z-index: 0;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      left: 0; }
  .billboard .billboard-content {
    position: relative;
    z-index: 1;
    display: table;
    width: 100%;
    height: 300px; }
  .billboard.short .billboard-content {
    height: 200px; }
  .billboard .billboard-content-inner {
    padding-top: 40px;
    padding-bottom: 40px;
    display: table-cell;
    vertical-align: middle; }

.assembly-type-image_with_content {
  background-size: cover; }
  .assembly-type-image_with_content.white-text {
    color: #FFF; }
  @media (min-width: 768px) {
    .assembly-type-image_with_content .inline-row {
      margin-left: -15px;
      margin-right: -15px;
      font-size: 0;
      letter-spacing: 0; }
      .assembly-type-image_with_content .inline-row > * {
        font-size: 16px; } }
  @media (min-width: 768px) {
    .assembly-type-image_with_content .inline-column {
      display: inline-block;
      width: 50%;
      padding-left: 15px;
      padding-right: 15px;
      vertical-align: top;
      letter-spacing: 0.025em; } }
  @media (min-width: 992px) {
    .assembly-type-image_with_content .inline-column {
      display: inline-block;
      width: 50%;
      padding-left: 15px;
      padding-right: 15px;
      vertical-align: middle;
      letter-spacing: 0.025em; } }
  .assembly-type-image_with_content .inline-column.image img {
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 285px; }
    @media (min-width: 768px) {
      .assembly-type-image_with_content .inline-column.image img {
        width: 305px; } }
    @media (min-width: 992px) {
      .assembly-type-image_with_content .inline-column.image img {
        width: 415px; } }
    @media (min-width: 1200px) {
      .assembly-type-image_with_content .inline-column.image img {
        width: 500px; } }
  @media (min-width: 768px) {
    .assembly-type-image_with_content.right .image {
      margin-left: 50%; } }
  @media (min-width: 768px) {
    .assembly-type-image_with_content.right .content {
      margin-left: -100%; } }

.logo.entity a.logo-link {
  display: block; }

.logo.entity img {
  max-width: 100%;
  height: auto !important; }

.logo-list {
  text-align: center;
  padding-left: 0;
  list-style: none;
  font-size: 0;
  margin-left: -7.5px;
  margin-right: -7.5px;
  padding-top: 7.5px;
  padding-bottom: 7.5px; }
  @media (min-width: 768px) {
    .logo-list {
      padding-top: 15px;
      padding-bottom: 15px;
      margin-left: -15px;
      margin-right: -15px; } }
  @media (min-width: 992px) {
    .logo-list {
      padding-top: 30px;
      padding-bottom: 30px;
      margin-left: -30px;
      margin-right: -30px; } }
  .logo-list > li {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
    padding: 7.5px;
    max-width: 300px; }
    @media (min-width: 768px) {
      .logo-list > li {
        width: 33.33333%;
        padding: 15px; } }
    @media (min-width: 992px) {
      .logo-list > li {
        width: 25%;
        padding: 30px; } }

.assembly-type-logos .section-title {
  text-align: center;
  position: relative;
  margin-bottom: 1em; }
  .assembly-type-logos .section-title:before {
    content: '';
    width: 100%;
    height: 3px;
    background-color: #efefef;
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 0; }
  .assembly-type-logos .section-title .text {
    background-color: #FFF;
    padding: 10px 20px; }
  .assembly-type-logos .section-title .container {
    position: relative;
    z-index: 1; }
  .assembly-type-logos .section-title h1, .assembly-type-logos .section-title h2 {
    margin-top: 0;
    margin-bottom: 0;
    display: inline; }

.assembly-type-logos .logo-list {
  padding-top: 30px;
  padding-bottom: 0; }

.text-tile .text-tile-wrapper {
  display: block;
  color: #333;
  background-color: #FFF;
  border: 2px solid transparent;
  padding: 25px;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out; }
  .text-tile .text-tile-wrapper:hover, .text-tile .text-tile-wrapper:active, .text-tile .text-tile-wrapper:focus {
    border-color: #DDD;
    text-decoration: none; }

.text-tile .text-tile-title {
  font-size: 17px; }
  @media (min-width: 768px) {
    .text-tile .text-tile-title {
      font-size: 20px; } }

.text-tile-list {
  padding-left: 0;
  list-style: none;
  margin-top: -15px;
  margin-bottom: -15px; }
  @media (min-width: 768px) {
    .text-tile-list {
      margin-left: -15px;
      margin-right: -15px;
      font-size: 0;
      letter-spacing: 0; }
      .text-tile-list > * {
        font-size: 16px; } }
  .text-tile-list > li {
    padding-top: 15px;
    padding-bottom: 15px; }
    @media (min-width: 768px) {
      .text-tile-list > li {
        display: inline-block;
        width: 50%;
        padding-left: 15px;
        padding-right: 15px;
        vertical-align: top;
        letter-spacing: 0.025em; } }
    @media (min-width: 992px) {
      .text-tile-list > li {
        display: inline-block;
        width: 33.33333%;
        padding-left: 15px;
        padding-right: 15px;
        vertical-align: top;
        letter-spacing: 0.025em; } }

.assembly-type-tiles_with_content {
  background-color: #efefef; }
  .assembly-type-tiles_with_content .section-title {
    margin-bottom: 1em;
    margin-top: 0; }

.blog-post.full .topics-list-wrapper h3 {
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin-bottom: 0.5em;
  color: #333;
  padding-left: 5px;
  padding-right: 5px; }
  @media (min-width: 768px) {
    .blog-post.full .topics-list-wrapper h3 {
      font-size: 22px; } }

.blog-post.full .topics-list-wrapper ul {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
  margin: 0;
  font-size: 14px; }
  .blog-post.full .topics-list-wrapper ul > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px; }
  .blog-post.full .topics-list-wrapper ul a {
    color: #000;
    font-weight: bold;
    text-transform: uppercase; }

.blog-post.full .blog-image {
  margin-bottom: 1.5em;
  margin-left: auto;
  margin-right: auto; }

.blog-post.full .authorship-wrapper {
  position: relative;
  margin-bottom: 1.5em; }

.blog-post.full .blog-authorship {
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal; }
  @media (min-width: 768px) {
    .blog-post.full .blog-authorship {
      font-size: 22px; } }

.blog-post.full .related-posts {
  border-top: 3px solid #efefef;
  padding-top: 40px;
  margin-top: 40px; }
  @media (min-width: 992px) {
    .blog-post.full .related-posts {
      margin-top: 60px;
      padding-top: 60px; } }
  .blog-post.full .related-posts .field__label {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 0.125em;
    margin-top: 0;
    text-transform: uppercase;
    color: #333; }

.blog-post.text-teaser {
  font-size: 14px; }
  .blog-post.text-teaser h2 {
    font-size: 16px; }
    .blog-post.text-teaser h2 a {
      color: #000; }

.blog-post.teaser {
  font-size: 14px; }
  .blog-post.teaser img {
    margin-bottom: 2em; }
  .blog-post.teaser .node-readmore {
    margin-top: 1em; }
  .blog-post.teaser .field--name-field-categories {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 12px; }
    .blog-post.teaser .field--name-field-categories a {
      color: #97999B; }
      .blog-post.teaser .field--name-field-categories a:hover {
        color: #757575;
        text-decoration: none; }
      .blog-post.teaser .field--name-field-categories a:active {
        text-decoration: underline; }
    .blog-post.teaser .field--name-field-categories ul {
      list-style: none;
      padding: 0;
      margin: 0; }
  .blog-post.teaser h2 {
    font-size: 21px;
    margin-top: 0; }
    @media (min-width: 768px) {
      .blog-post.teaser h2 {
        font-size: 28px; } }
    .blog-post.teaser h2.no-image {
      font-size: 30.75px; }
      @media (min-width: 768px) {
        .blog-post.teaser h2.no-image {
          font-size: 41px; } }
    .blog-post.teaser h2 a {
      color: #000; }
      .blog-post.teaser h2 a:hover {
        color: #262626;
        text-decoration: none; }

@media (min-width: 1200px) {
  .page-node-type-blog-post .main-container:not(.narrow) {
    max-width: 970px; } }

@media (min-width: 768px) {
  .blog-teasers-list {
    margin-left: -25px;
    margin-right: -25px;
    font-size: 0;
    letter-spacing: 0; }
    .blog-teasers-list > * {
      font-size: 16px; } }

.blog-teasers-list > li {
  padding-top: 20px;
  padding-bottom: 20px; }
  @media (min-width: 768px) {
    .blog-teasers-list > li {
      display: inline-block;
      width: 50%;
      padding-left: 25px;
      padding-right: 25px;
      vertical-align: top;
      letter-spacing: 0.025em;
      padding-top: 25px;
      padding-bottom: 25px; } }
  @media (min-width: 992px) {
    .blog-teasers-list > li {
      display: inline-block;
      width: 33.33333%;
      padding-left: 25px;
      padding-right: 25px;
      vertical-align: top;
      letter-spacing: 0.025em; } }

.categories-list {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
  margin-bottom: 2em; }
  .categories-list > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px; }
  .categories-list .category-btn {
    border-color: #EEE;
    color: #000;
    margin: 0; }
    .categories-list .category-btn:hover, .categories-list .category-btn:active {
      border-color: #337ab7;
      background-color: #337ab7;
      color: #fff; }

@media (min-width: 992px) {
  .assembly-type-recent_blog_posts > .container > h2 {
    font-size: 48px; } }

.blog--more-link {
  font-weight: bold;
  letter-spacing: 0.125em;
  text-align: center;
  text-transform: uppercase;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px; }
  .blog--more-link:after {
    content: '\e258';
    font-family: 'Glyphicons Halflings';
    font-size: 60%;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    margin-left: 1em;
    font-weight: normal;
    line-height: 1;
    letter-spacing: 0; }

.view-author.view-display-id-bio_block {
  border-top: 3px solid #efefef;
  padding-top: 40px;
  margin-top: 40px; }
  @media (min-width: 992px) {
    .view-author.view-display-id-bio_block {
      margin-top: 60px;
      padding-top: 60px; } }
  .view-author.view-display-id-bio_block .text-content {
    font-size: 14px; }
    @media (min-width: 480px) {
      .view-author.view-display-id-bio_block .text-content {
        float: left;
        width: 66.66667%; } }
    .view-author.view-display-id-bio_block .text-content h3 {
      margin-bottom: 0.3em; }
      @media (min-width: 480px) {
        .view-author.view-display-id-bio_block .text-content h3 {
          margin-top: 0; } }
    .view-author.view-display-id-bio_block .text-content .btn {
      margin-top: 1.5em; }
  .view-author.view-display-id-bio_block .field--name-field-job-title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: normal; }
  .view-author.view-display-id-bio_block img {
    margin-left: auto;
    margin-right: auto; }
    @media (min-width: 480px) {
      .view-author.view-display-id-bio_block img {
        float: left;
        width: 33.33333%; } }
    @media (min-width: 480px) {
      .view-author.view-display-id-bio_block img + .text-content {
        padding-left: 35px; } }

@media (min-width: 768px) {
  .assembly.left .row > div {
    left: 33.33333%; } }

@media (min-width: 768px) {
  .assembly.left .row aside {
    right: 66.66667%; } }
/*# sourceMappingURL=style.css.map */