@charset "utf-8";

@import "variables";
@import "base/icons";

// @import "node_modules/bulma/bulma.sass";
// import components individually
// TODO: eliminate unneeded components
@import "bulma_sass/utilities/_all";
@import "bulma_sass/base/_all";
@import "bulma_sass/elements/_all";
@import "bulma_sass/form/_all";
@import "bulma_sass/components/_all";
@import "bulma_sass/grid/_all";
@import "bulma_sass/layout/_all";
@import "bulma_sass/helpers/_all";

@import "../css/bulma-overrides";
@import "../css/drupal-overrides";
@import "../css/tweaks";

@import "base/typography";
@import "components/media";

body.cke_editable {
  padding: 1rem;

  .button {
    user-select: auto !important;
  }
}

@import "overrides/_all";

.media-library-item__edit {
  position: absolute;
  top: 10px;
}

.cke_panel_grouptitle {
  font-family: inherit !important;
  font-size: 11px !important;
  font-weight: bold !important;
  margin: 0 !important;
  line-height: 1 !important;
}

.cke_panel_listItem a {
  padding: 6px 7px !important;
}

$headings: 6;

@for $i from 1 through $headings {
  .cke_panel_listItem a[title="Heading #{$i} style"] {
    @extend h#{$i};
  }
}

.cke_combopanel {
  width: 200px !important;
}
