.assembly {
  &.vs-reverse {
    .row {
      >div {
        @include tablet {
          left: 33.33333%;
        }
      }
      aside {
        @include tablet {
          right: 66.66667%
        }
      }
    }
  }

  &.vs-thirtythree-sixtyseven {
    .row {
      >div {
        @include tablet {
          width: 33.33333%;
        }
      }
      aside {
        @include tablet {
          width: 66.66667%;
        }
      }
    }
  }

  &.vs-fifty-fifty {
    .row {
      >div {
        @include tablet {
          width: 50%;
        }
      }
      aside {
        @include tablet {
          width: 50%;
        }
      }
    }
  }
  
  &.vs-reverse.vs-thirtythree-sixtyseven {
    .row {
      >div {
        @include tablet {
          left: 66.66667%;
        }
      }
      aside {
        @include tablet {
          right: 33.33333%;
        }
      }
    }
  }
  
  &.vs-reverse.vs-fifty-fifty {
    .row {
      >div {
        @include tablet {
          left: 50%;
        }
      }
      aside {
        @include tablet {
          right: 50%;
        }
      }
    }
  }
}



.assembly-type-content_with_aside {
  aside {
    margin-top: $mobile-space;
    @include tablet {
      margin-top: 0;
    }
  }
}