.billboards {
  margin-top: -1px;
  position: relative;
  .billboard-slide-nav-wrapper {
    position: absolute;
    top: $grid-gutter-width/2;
    right: $grid-gutter-width/2;
    width: 100%;
    color: #FFF;
    text-align: right;
    @include desktop {
      text-align: center;
      top: auto;
      bottom: 0;
      right: 0;
    }
    .next, .prev {
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
      font-size: 80%;
      position: relative;
      top: 50%;
      cursor: pointer;
    }
    .billboard-slide-nav {
      width: auto;
      display: inline-block;
      vertical-align: middle;
    }
    .prev {
      display: none !important;
      @include desktop {
        display: inline-block !important;
      }
    }
    .next {
      width: 30px;
      height: 30px;
      background-color: #FFF;
      color: $brand-primary;
      border: 1px solid $brand-primary;
      border-radius: 100%;
      padding: 8px;
      @include desktop {
        border: none;
        padding: 0;
        width: auto;
        height: auto;
        background-color: transparent;
        color: #FFF;
      }
    }
  }
  .slick-dots {
    display: none !important;
    position: static;
    width: auto;
    @include desktop {
      display: inline-block !important;
    }
    li {
      width: 10px;
      height: 10px;
      margin: 10px 5px;
      button {
        &:before {
          color: transparent;
          opacity: 1;
          background-color: transparent;
          border: 1px solid #FFF;
          border-radius: 100%;
          width: 100%;
          height: 100%;
        }
      }
      &.slick-active {
        button {
          &:before {
            color: transparent;
            opacity: 1;
            background-color: #FFF;
          }
        }
      }
    }
  }
}

.billboard {
  position: relative;
  color: #FFF;
  padding: 0;
  &:focus {
    outline: none;
  }
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-size: cover;
    overflow: hidden;
    &:before {
      content: '';
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      position: absolute;
      background-image: linear-gradient(to bottom,rgba(0,0,0,0.5), rgba(0,0,0,0));
      z-index: 1;
    }
    video {
      width: 100% !important;
      height: auto !important;
      z-index: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }
  }
  .billboard-content {
    position: relative;
    z-index: 1;
    display: table;
    width: 100%;
    height: 300px;
  }
  &.short {
    .billboard-content {
      height: 200px;
    }
  }
  .billboard-content-inner {
    padding-top: 40px;
    padding-bottom: 40px;
    display: table-cell;
    vertical-align: middle;
  }
}
