.blog-post {
  &.full {
    .topics-list-wrapper {
      h3 {
        @include lead-text;
        margin-bottom: 0.5em;
        color: $text-color;
        padding-left: 5px;
        padding-right: 5px;
      }
    }
    .topics-list-wrapper ul {
      @include list-inline;
      margin: 0;
      font-size: $font-size-base - 2px;
      a {
        color: $headings-color;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
    .blog-image {
      margin-bottom: 1.5em;
      margin-left: auto;
      margin-right: auto;
    }
    .authorship-wrapper {
      position: relative;
      margin-bottom: 1.5em;
    }
    .blog-authorship {
      @include lead-text;
    }
    .related-posts {
      border-top: 3px solid $tertiary;
      padding-top: 40px;
      margin-top: 40px;
      @include desktop {
        margin-top: 60px;
        padding-top: 60px;
      }
      .field__label {
        font-family: $font-family-sans-serif;
        font-size: 16px;
        letter-spacing: 0.125em;
        margin-top: 0;
        text-transform: uppercase;
        color: $text-color;
      }
    }
  }

  &.text-teaser {
    font-size: 14px;
    h2 {
      font-size: 16px;
      a {
        color: $headings-color;
      }
    }
  }

  &.teaser {
    font-size: 14px;
    img {
      margin-bottom: 2em;
    }
    .node-readmore {
      margin-top: 1em;
    }
    .field--name-field-categories {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 12px;
      a {
        color: #97999B;
        &:hover {
          color: #757575;
          text-decoration: none;
        }
        &:active {
          text-decoration: underline;
        }
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
    }
    h2 {
      font-size: $font-size-h3;
      margin-top: 0;
      @include tablet {
        font-size: $desktop-font-size-h3;
      }
      &.no-image {
        font-size: $font-size-h1;
        @include tablet {
          font-size: $desktop-font-size-h1;
        }
      }
      a {
        color: $headings-color;
        &:hover {
          color: lighten($headings-color, 15%);
          text-decoration: none;
        }
      }
    }
  }
}

.page-node-type-blog-post {
  .main-container:not(.narrow) {
    @include large {
      max-width: $container-large-desktop - 200px;
    }
  }
}

.blog-teasers-list {
  @include tablet {
    @include inline-row(50px);
  }
  > li {
    padding-top: 20px;
    padding-bottom: 20px;
    @include tablet {
      @include inline-columns(2, top, 50px);
      padding-top: 25px;
      padding-bottom: 25px;
    }
    @include desktop {
      @include inline-columns(3, top, 50px);
    }
  }
}

.categories-list {
  @include list-inline;
  margin-bottom: 2em;
  .category-btn {
    border-color: #EEE;
    color: $headings-color;
    margin: 0;
    &:hover, &:active {
      border-color: $btn-primary-bg;
      background-color: $btn-primary-bg;
      color: $btn-primary-color;
    }
  }
}

.assembly-type-recent_blog_posts {
  > .container > h2 {
    @include desktop {
    font-size: 48px;
    }
  }
}

.blog--more-link {
  font-weight: bold;
  letter-spacing: 0.125em;
  text-align: center;
  text-transform: uppercase;
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  &:after {
    content: '\e258';
    font-family: 'Glyphicons Halflings';
    font-size: 60%;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    margin-left: 1em;
    font-weight: normal;
    line-height: 1;
    letter-spacing: 0;
  }
}
