.container>.navbar .navbar-brand, .navbar>.container .navbar-brand.navbar-brand {
  @include desktop {
    margin-left: 0;
  }
}

.navbar-brand {
  img, svg {
    margin-right: $gap;
  }
}

.navbar-burger {
  margin-right: calc($gap / -2)
}

.masthead {
  padding-top: calc($gap/2);
  padding-bottom: calc($gap/2);
  border-bottom: 1px solid #DDD;
}
