@mixin button-base($color, $border, $background, $hover-border, $hover-background) {
  @extend %control;
  @extend %unselectable;
  border-width: 1px;
  cursor: pointer;
  font-family: $family-sans-serif;
  justify-content: center;
  padding-bottom: $button-padding-vertical;
  padding-left: $button-padding-horizontal;
  padding-right: $button-padding-horizontal;
  padding-top: $button-padding-vertical;
  text-align: center;
  white-space: normal;
  font-weight: bold;
  height: auto;
  min-width: rem-calc(128);
  background-color: $background;
  border-color: $border;
  color: $color;
  &:hover,
  &:focus,
  &:active {
    background-color: $hover-background;
    border-color: $hover-border;
  }
}

@mixin button-size($size: 'normal') {
  line-height: 1.25;
  height: auto;
  @if $size == 'normal' {
    padding-top: 0.3125em;
    font-size: $size-normal;
  }
  @if $size == 'small' {
    padding-top: 0.125em;
    padding-bottom: 0.1875em;
    font-size: $size-small;
  }
  @if $size == 'medium' {
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
    font-size: $size-medium;
  }
  @if $size == 'large' {
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
    font-weight: normal;
    font-size: $size-medium;
  }
}

@mixin button($color: 'link', $size: 'normal') {
  $colorGroup: map-get($colors, $color);
  $bg: nth($colorGroup, 1);
  $hover: bulmaDarken($bg, 2.5%);
  @include button-base(#FFF, $bg, $bg, $hover, $hover);
  @include button-size($size);
}

@mixin button-inverted($color: 'link', $size: 'normal') {
  $colorGroup: map-get($colors, $color);
  $textColor: nth($colorGroup, 1);
  $hover: #f2f2f2;
  @include button-base($textColor, #FFF, #FFF, $hover, $hover);
  @include button-size($size);
}

@mixin full-width {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  grid-column: 1 / span 3;

  .toolbar-vertical.toolbar-tray-open & {
    margin-left: calc(50% - 50vw + 120px);
    margin-right: calc(50% - 50vw + 120px);
  }
}

@mixin sr-only {
  border: none !important;
  clip: rect(0, 0, 0, 0) !important;
  height: 0.01em !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 0.01em !important;
}

@mixin container {
  width: 100%;
  padding-left: $gap;
  padding-right: $gap;
  margin-left: auto;
  margin-right: auto;

  @include tablet {
    max-width: calc($tablet - (2 * $gap)) !important;
  }

  @include desktop {
    max-width: calc($desktop - (2 * $gap)) !important;
  }

  @include widescreen {
    &:not(.is-max-desktop) {
      max-width: calc($widescreen - (2 * $gap)) !important;
    }
  }
}
